.btn-login {
  width: 100%;
  padding: 14px;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  cursor: pointer;
  margin-top: 10px;
}

.btn-login[style*="background:#DB4437"] {
  background: #DB4437 !important;  /* warna Google merah */
}

.btn-login:hover {
  opacity: 0.9;
}