body{
  margin:0;
  font-family:Arial;
  background:linear-gradient(135deg,#0f172a,#1e3a8a);
  color:white;
}

.center{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.glass-card{
  backdrop-filter:blur(20px);
  background:rgba(255,255,255,0.1);
  border-radius:15px;
  padding:20px;
  margin:20px;
  box-shadow:0 8px 32px rgba(0,0,0,0.4);
}

input, select{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:8px;
  border:none;
}

button{
  padding:10px;
  width:100%;
  border:none;
  border-radius:8px;
  background:#3b82f6;
  color:white;
  cursor:pointer;
  font-weight:bold;
}

button:hover{
  opacity:0.9;
}

.danger{
  background:red;
}

.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
}

.total-box{
  text-align:center;
}