body {
  margin:0;
  font-family: Arial;
  background: linear-gradient(135deg,#0f2027,#203a43,#2c5364);
  color:white;
}

.container {
  max-width: 600px;
  margin: auto;
  padding:20px;
}

h1 {
  text-align:center;
}

.card {
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(15px);
  padding:20px;
  margin:20px 0;
  border-radius:20px;
  box-shadow:0 8px 32px rgba(0,0,0,0.3);
}

.total-card {
  text-align:center;
}

input {
  width:100%;
  padding:10px;
  margin:8px 0;
  border:none;
  border-radius:10px;
}

button {
  width:100%;
  padding:12px;
  margin:8px 0;
  border:none;
  border-radius:10px;
  background:#4facfe;
  color:white;
  font-weight:bold;
  cursor:pointer;
}

button:hover {
  background:#00f2fe;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  padding:8px;
  text-align:center;
}